.php_cs.cache
composer.phar
composer.lock
/vendor/
/features/fixtures/TestApp/cache/*
/features/fixtures/TestApp/logs/*


\.idea/api-bundle-core\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
